version: '3'
services:
  app1:
    build:
      context: ./myDocker
      dockerfile: Dockerfile.edu
    networks:
      - lotto
    command:
      - |
        tail -f /dev/null
  app2:
    build:
      context: ./myDocker
      dockerfile: Dockerfile.edu
    networks:
      - lotto
    command:
      - |
        tail -f /dev/null

networks:
  lotto:
    external: true
